body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 0;
color: #222;
/* background: linear-gradient(135deg, #0d0221, #1e0a3c, #a6002b); */


}
header, footer {
background: linear-gradient(135deg, #000000, #1a0033, #4b0082);
color: white;
text-align: center;
padding: 20px;
}
main {
max-width: 800px;
margin: 20px auto;
background-color: white;
padding: 20px 30px;
border-radius: 8px;
}
section {
margin-bottom: 25px;
}
.info-box {
background-color: #eee;
padding: 10px 15px;
border-radius: 6px;
}
h2 {
color: #2b0f54;
}
