*{
    color: aliceblue;
    font-family: 'Bebas Neue', cursive, sans-serif;
}



body{
    margin: 0;
    background-image: url(https://images4.alphacoders.com/876/thumb-1920-876467.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.head{
    
    margin-left: 70px;
}

.about{
    height: 500px;
    width: 700px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.341);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
    margin-right: 70px;
    position: absolute;
}

h2{
    text-transform: uppercase;
}

.about p{
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.6;
    max-width: 600px;
}
.anick{

    position: absolute;
    top: 90%;

    
}


select , .sumit {
    border: none;
    background-color: rgba(0, 0, 0, 0.341);
    border-radius: 8px;
}


